{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'registration/base.css' %}">
    <link rel="stylesheet" href="{% static 'registration/registration_style.css' %}">
    <link rel="stylesheet" href="{% static 'registration/responsive.css' %}">
    <title>Thank You</title>
</head>
<body>
<div class="container">
    <h1>Thank You for Registering!</h1>
    <a href="{% url 'participant_list' %}" class="btn_thankyou">View Participants</a>
</div>
</body>
</html>
